h1{
    text-align: center;
    color:black, 
}

body{
    background-color: rgb(12, 250, 250);
    font-family:Arial, Helvetica, sans-serif;
}

h2{
    color:navy;
    text-decoration: underline;
    text-align:center; 
}

h3{
color:darkred; 
font-family:'Courier New', Courier, monospace
}

